<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Censo SBN</title>
</head>

<body>
    <form method="post">
        {{ csrf_input }}
        <h1><i class='bx bxs-cat'></i>Censo SBN</h1>
        {% for field in form %}
        <div class="">
            <label for="">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="">Log in</button>
        {% if error %}
        <div class="">{{ error }}</div>
        {% endif %}
    </form>
</body>

</html>